body {
    background-color: whitesmoke;
}

.div-titulo {
    background-color: #5592d5;
    color: white;
}

h1 {
    text-align: center;
}

.img-preco {
    text-align: center;
}

div, button, a {
    text-decoration: none;
    text-align: center;
}

button, a:hover {
    text-decoration: none;
}